#ob {
	background-color: #c4c4c4;
	font-family: Arial;
	padding: 3px;
	text-align: center;
}
#ob a {
	text-decoration: none;
	font-weight: bold;
}
* {
	font-size: 16px;
}
.example div {
	border: 1px solid #c4c4c4;
}
.example.onresize {
	border: 1px solid #c4c4c4;
	margin: 10px 0;
}
.example p {
	margin: 0;
	clear: both;
}
.example .overlay {
	width: 100px;
	height: 100px;
	background-color: #c400c4;
	display: none;
}
.example .overlay.open {
	display: block;
}
.example .button {
	min-width: 100px;
	height: 25px;
	margin: 10px;
	padding: 0 5px;
	background-color: #c4c4c4;
	float: left;
	text-align: center;
}